.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    min-width: 100%;
  }

  input {
    flex : 0 0 100px;
  }

  .myss{
    
    //background-color:green;
    border-color:green;
    border:solid;
    
  }