

<!-- //*********** CODE TO SUBMIT DATA TO KITE *************//
<md-card fxLayout="row" FxLayoutWrap>
<form method="post" id="basket-form" action="https://kite.trade/connect/basket" #myform>
<!--form method="post" id="basket-form" action="http://127.0.0.1:8080/nat" #myform--
    <input  name="api_key" value={{api_key}} />
    <input  id="basket" name="data" value={{values3}} />
</form>
  
<!-- <button md-raised-button color="primary" onclick="natnat()" >add basket</button>
<button md-raised-button color="primary" id ="custom-button" (Click)="testes($event)">Submit basket</button> --
<button id="natsss">autoclick</button>

<input #someInput type="text"/>
<button #natbutton (click)="natrayan()">comme</button>
<button #anabutton (click)="ananthi()">ananti</button>
</md-card>
//*********** CODE TO SUBMIT DATA TO KITE *************// -->


<md-toolbar color="primary">
          
</md-toolbar>

<md-card class="myss">
    <form [formGroup]="rForm" >
        <div fxLayout="coloumn" fxLayoutWrap>
            <div fxFlex="5 1 auto" ><!--<style="background-color: green"-->
                <div fxLayout="column" fxLayoutWrap>
                    <div fxLayoutWrap fxLayoutGap="40px"><!--</div> style="background-color: black"-->
                  
                    <fieldset fxFlex="6 1 auto">
                            <legend>Transaction</legend>                  
                    <md-radio-group formControlName="transaction_type" >
                            
                            <md-radio-button *ngFor="let trantype of trantypes" [value]="trantype" >
                                    {{trantype}}
                            </md-radio-button>
                        
                    </md-radio-group>
                    </fieldset>
                    
                    <md-form-field fxFlex="6 1 auto">
                            <input mdInput placeholder="exchange" formControlName="exchange" value="NSE">
                            <md-error *ngIf="!rForm.controls['exchange'].valid">
                                exchange is <strong>required</strong>
                            </md-error>
                        </md-form-field >
                
                        <md-form-field fxFlex="6 1 auto">
                                <input mdInput placeholder="tradingsymbol" formControlName="tradingsymbol">
                                <md-error *ngIf="!rForm.controls['tradingsymbol'].valid">
                                    exchange is <strong>required</strong>
                                </md-error>
                            </md-form-field >

                            <fieldset fxFlex="6 1 auto">
                                    <legend>Product</legend>
                            <md-radio-group formControlName="product" >
                                    
                                    <md-radio-button *ngFor="let product of products" [value]="product" >
                                            {{product}}
                                    </md-radio-button>
                                
                            </md-radio-group>
                            </fieldset>

                    <fieldset fxFlex="6 1 auto">
                            <legend>ordertype</legend>
                    <md-radio-group formControlName="order_type" >
                            
                            <md-radio-button *ngFor="let ordertype of ordertypes" [value]="ordertype" >
                                    {{ordertype}}
                            </md-radio-button>
                        
                    </md-radio-group>
                    </fieldset>
                    <div fxFlex="6 1 auto">
                    <fieldset >
                            <legend>ordervalidity</legend>
                            <md-radio-group formControlName="validity" >
                                    
                                    <md-radio-button *ngFor="let ordervalidity of ordervalidities" [value]="ordervalidity" >
                                            {{ordervalidity}}
                                    </md-radio-button>
                                
                            </md-radio-group>
                    </fieldset>
                    </div>



                    </div>
                    <div  fxLayoutWrap  fxLayoutGap="40px"> <!-- style="background-color: yellow"-->
                            <!-- <p>Natrayan Must field rows</p> -->
                            <md-form-field fxFlex="4 4 auto">
                                    <input mdInput placeholder="quantity" formControlName="quantity" value="10">
                                    <md-error *ngIf="!rForm.controls['quantity'].valid">
                                        quantity is <strong>required</strong>
                                    </md-error>
                                </md-form-field>
                                <md-form-field fxFlex="4 4 auto">
                                        <input mdInput placeholder="price" formControlName="price">
                                        <md-error *ngIf="!rForm.controls['price'].valid">
                                            price is <strong>required</strong>
                                        </md-error>
                                    </md-form-field>
                                    <md-form-field fxFlex="4 4 auto">
                                            <input mdInput placeholder="trigger price" formControlName="trigger_price">
                                            <md-error *ngIf="!rForm.controls['trigger_price'].valid">
                                                trigger price is <strong>required</strong>
                                            </md-error>
                                        </md-form-field>
                                    
                                        <md-form-field fxFlex="4 4 auto">
                                            <input mdInput placeholder="disclosed quantity" formControlName="disclosed_quantity">
                                            <md-error *ngIf="!rForm.controls['disclosed_quantity'].valid">
                                                disclosed quantity is <strong>required</strong>
                                            </md-error>
                                        </md-form-field>
                    </div>
                    <div fxFlex="4 4 auto"><!--</div> style="background-color:blueviolet">-->
                            <!-- <p>Natrayan optional field rows</p> -->
                        <fieldset>
                            <div fxLayout="row" FxLayoutWrap>                       
                            <md-select multiple="{{true}}" placeholder="Portfolio" [(ngModel)]="selectedpfs" formControlName="Portfolioname">
                                    <md-option *ngFor="let portfolio of portfolios" [value]="portfolio">
                                          {{portfolio}}
                                          </md-option>
                                        
                                  </md-select>

                      <md-chip-list>
                            <md-chip *ngFor = "let selectedpf of selectedpfs" [selectable]="true" [removable]="true" (remove)="removechip(selectedpf)">
                                {{selectedpf}}
                                <md-icon mdChipRemove>x</md-icon>
                            </md-chip>
  
                        </md-chip-list>
                    
                        </div>
                    </fieldset>
                    </div>        

                </div>
            </div>

            
        </div>
        <div fxLayoutAlign="end stretch" style="background-color:aqua">
            <!-- <p  >Additonal Row</p> -->
        </div>
        
        <div fxLayoutAlign="center stretch"> 
            <button  md-raised-button color="accent" (click)="addStocklist(rForm.value)">+ Add Stocks</button>    
        </div>
    </form>
</md-card>